.dicomImageConverterApp {
  display: flex;
  flex-direction: column;
  border-style:groove;
  border-width: medium;
}

.appHeader {
  flex:20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px; 
  border-style:groove;
  border-width: medium;
}

.imageUploadSection {
  margin-top: 2rem;
}


.dicomFileDetails {
  display: flex;
  flex-direction: row;
  border-style:groove;
  border-width: medium;
  
}

.convertedImageSection{
  flex: 1;
  width: 50%;
  height: 50%;
}

.convertedImageSection h2{
  text-align: center;
}
.convertedImageSection img{
  flex: 1;
  width: 100%;
}

.dicomMetadataSection{
  flex: 1;
  width: 50%;
  height: 50%;
  padding-left: 2rem;
}
